<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Kostin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<!-- Custom Style Sheet -->
<!-- <link href="css/style.css" rel="stylesheet"> -->
<link href="css/custom.css" rel="stylesheet">

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="css/magnific-popup.css"> 




<!--<link rel="shortcut icon" href="img/favicon.png">-->
</head>

<body >
<div class="container-fluid">

<!--==========================
    Header
============================== -->
  <!-- Header Top -->
  <div class="row" id="headerHeight">
        <div class="col-md-12 header-color" >
        <ul class="social-icons">
          <li><a href="#"><img src="img/instagram.png" alt=""></a></li>
          <li><a href="#"><img src="img/twitter.png" alt=""></a></li>
          <li><a href="#"><img src="img/facebook.png" alt=""></a></li>
        </ul>
      </div>
  </div>
  <!-- End of Header Top -->

  <!--==========================
       Menu
    ============================ -->
    <div class="row">
      <div class="col-md-12" style="padding: 0;">
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top " style="background-color: #2bb1ff;">
          <a class="navbar-brand" href="#">
            <img src="img/company.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false
          " aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav mr-auto  " >
              <li class="nav-item paddingNav">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item paddingNav">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item dropdown paddingNav">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Booking</a>
                <div class="dropdown-menu " aria-labelledby="navbarDropDownMenuLink" style="background-color: #66c6ff; clear: white;">
                  <a class="dropdown-item" href="#">Pesan Kamar</a>
                  <a class="dropdown-item" href="#">Konfirmasi Pembayaran</a>
                </div>
              </li>
              <li class="nav-item paddingNav">
                <a class="nav-link" href="#">Contact Us</a>
              </li>                                    
            </ul>     
            <ul class="navbar-nav ml-auto" id="btn-login">
              <li>
                <button type="button" class="btn btn-light">Login</button>
              </li>
            </ul>       
          </div>

        </nav>
      </div>  
    </div>

  <!-- End of Menu -->
  <div>
    
  </div>
<!-- End of Header -->

<!--==========================
    Slider
============================== -->
<div class="row" >
    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active ">
          <img class="slider-img" src="img/kost1.jpg" alt="First slide" >
        </div>
        <div class="carousel-item">
          <img class="slider-img"  src="img/kost2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="slider-img" src="img/kost3.jpg" alt="Third slide">
        </div>
      </div>

    </div>
</div>

<!-- End of Slider -->


<!--==========================
    Summary
============================== -->
<div class="container row  mx-auto" style="padding: 1em;" >
    <div class="col-md-12"  style="text-align: center;">
      <h4>What is KostIn?</h4></div>

    <div class="col-sm" style="text-align: justify;">
      <h6>KostIn adalah salah satu Hunian Kos Exclusive dengan harga murah dengan fasilitas yang lengkap diantarannya wifi, parkiran luas dan aman disertai dengan penjaga rumah kos, disertai dengan Air Conditioning dan juga terdapat fasilitas kolam renang yang bisa digunakan oleh penghuni secara gratis. Harga murah disini juga relatif, kami mengkategorikan harga murah disini karena harga kamar terpisah dengan add ons. Isian kamar juga bisa di isi sesuai dengan keinginan, isi kamar juga bisa merequest pada pemilik kos ataupun membeli sendiri. Kami akan selalu berupaya meningkatkan kualitas dan kuantitas hunian kos yang kami kelola. </h6> 
    </div>
     
</div>

<!-- End of Summary -->

 <hr class="hr-color">
<!--==========================
    Content
============================== -->
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <h4>What Services We Offers?</h4>
  </div>
  <div class="container row mx-auto">
    <div class="col-sm">
      <center><img class="icon" src="icons/wifi.png">
      <div class="text" >Free Wifi</div>
      </center>
    </div>
    <div class="col-sm">
      <center><img class="icon" src="icons/parking.png"><br>
      <div class="text">Area Parkir Luas</div></center>
    </div>
    <div class="col-sm">
      <center><img class="icon" src="icons/ac.png"><br>
     <div class="text">Full AC</div></center>
    </div>
    <div class="col-sm">
      <center><img class="icon" src="icons/kolamrenang.png"><br>
      <div class="text">Kolam Renang</div></center>
    </div>
  </div>
  </div>
</div>
<!-- End of Content -->
   <hr class="hr-color">
<!--==========================
    Map
============================== -->
<div class="row container-fluid">
  <div class="col-md-12" style="text-align: center;">
    <h4>Our Location</h4>
  </div>
  <div class="col-md-6 mx-auto">
      <div id="map"></div>
  </div>
    
</div>
<!-- End of Content -->
  <hr class="hr-color">
<!--==========================
    Footer
============================== -->
<div class="footer" >
  <div class="row container-fluid">
      <div class="col-sm-6 footer-logo">
        <a href="#"><img src="img/company2.png" alt=""></a>
      </div>
      <div class="col-sm-6 footer-text">
        <p>© Copyright 2018 <span>KostIn</span>.</p>
      </div>  
  </div>
</div>
<!-- End of Footer -->


<!-- =========================
     Scripts   
============================== --> 
<!-- End of Responsive navigation bar-->

<!-- Jquery --> 
<script src="js/jquery-3.3.1.min.js"></script> 

<!-- Bootstrap --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="js/jquery.magnific-popup.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?keyAIzaSyB0BYbLL8tpdy1U13A3gjpfvhkbxZ8g8KQ"></script>

<script>
/*  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -7.7556162, lng: 110.3729705},
    zoom: 14
  });
*/
var myLatlng = new google.maps.LatLng(-7.747607,110.383692);
var mapOptions = {
  zoom: 17,
  center: myLatlng
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);

var marker = new google.maps.Marker({
    position: myLatlng,
    title:"KostIn"
});

// To add the marker to the map, call setMap();
marker.setMap(map);  
</script>
<!-- Custom JS  
<script src="js/custom.js"></script>

 Google Map API
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5h2oa8HYtprP_xoAFKIJcu5A1KeWrRQ
"></script>


-->
</div>
</body>
</html>

